name: Rancher Documentation
description: Documentation for Rancher

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter: rouge
permalink: pretty

gems:
  - jekyll-redirect-from

URL: "https://rancher.com"
baseurl: "/docs"

# RancherOS defaults
defaults:
  -
    # os/quick-start-guide/ should redirect to os/v1.0/en/quick-start-guide
    scope:
      path: "os"
    values:
      layout: "os-redirect"
      version: v1.x
      lang: en
  -
    # os/latest/quick-start-guide/ should redirect to os/v1.0/en/quick-start-guide
    scope:
      path: "os/latest"
    values:
      layout: "os-latest-redirect"
  -
    # os/latest/en/quick-start-guide/ should redirect to os/v1.0/en/quick-start-guide
    scope:
      path: "os/latest/en"
    values:
      layout: "os-latest-en-redirect"
  -
    scope:
      path: "os/v1.0"
    values:
      layout: "os-default-v1.0"
      version: v1.0
      osbaseurl: "/docs/os/v1.0/en"
  -
    scope:
      path: "os/v1.1"
    values:
      layout: "os-default-v1.1"
      version: v1.1
      osbaseurl: "/docs/os/v1.1/en"
  -
    scope:
      path: "os/v1.2"
    values:
      layout: "os-default-v1.2"
      version: v1.2
      osbaseurl: "/docs/os/v1.2/en"
  -
    scope:
      path: "os/v1.x"
    values:
      layout: "os-default-v1.x"
      version: v1.x
      osbaseurl: "/docs/os/v1.x/en"
