</div>
<div class="col span-9">
    <div class="content-container">
        <div class="banner bg-error p-10">
          These docs are for Rancher 1.6, if you are looking for Rancher 2.x docs, see <a href="{{site.baseurl}}/rancher/v2.x/en/">here</a>.
        </div>
        {{ content }}
    </div>
</div>
</div>
</div>

<div class="row wrap">
<a class="btn btn-primary pull-right" href="https://github.com/rancher/rancher.github.io/tree/master/{{page.path }}">Edit this page <i class="fa fa-pencil"></i></a>
</div>

<footer class="clearfix">
  <div class="wrap">
    <div class=""><!--bottom footer-->
      <div class="row">
          <div class="col span-6">
              <ul id="menu-footer" class="list-inline">
                  <li id="menu-item-14151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14151"><a title="About Rancher Labs" href="https://www.rancher.com/about/">About Rancher Labs</a></li>
                  <li id="menu-item-11352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11352"><a title="Contact" href="https://www.rancher.com/contact/">Contact</a></li>
                  <li id="menu-item-14152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14152"><a title="Privacy" href="https://www.rancher.com/privacy/">Privacy</a></li>
                  <li id="menu-item-15635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15635"><a title="Careers" href="https://www.rancher.com/careers/">Careers</a></li>
                  {% if page.lang == "en" %}
                  <li id="menu-item-14151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14151"><a title="中文文档" href="https://www.rancher.com/docs/rancher/latest/zh/">中文文档</a></li>
                  {% else %}
                  <li id="menu-item-14151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14151"><a title="English Docs" href="https://www.rancher.com/docs/rancher/latest/en/">English Docs</a></li>
                  {% endif %}
              </ul>
              <p>Copyright &copy; 2014-2018 <a href="https://www.rancher.com">Rancher Labs</a>. All Rights Reserved.</p>
          </div>
      </div>
    </div><!--bottom footer-->
    </div>
</footer>
<script src="{{site.baseurl}}/one-point-x/vendor/jquery.js?t={{site.time}}"></script>
<script src="{{site.baseurl}}/one-point-x/js/jquery.slicknav.min.js?t={{site.time}}"></script>
<script src="{{site.baseurl}}/one-point-x/js/rancher-docs.js?t={{site.time}}"></script>
<!-- Start of Google Analytics -->
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-56382716-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End of Google Analytics -->
<!-- Start of Async HubSpot Analytics Code -->
<script type="text/javascript">
(function(d, s, i, r) {
    if (d.getElementById(i)) { return; }
    var n = d.createElement(s),
        e = d.getElementsByTagName(s)[0];
    n.id = i;
    n.src = '//js.hs-analytics.net/analytics/' + (Math.ceil(new Date() / r) * r) + '/468859.js';
    e.parentNode.insertBefore(n, e);
})(document, "script", "hs-analytics", 300000);
</script>
<!-- End of Async HubSpot Analytics Code -->
</body>

</html>
