<header id="header" class="section">
  <nav class="row" role="navigation">
    <div class="col span-3">
    <a class="navbar-brand" href="/"><img src="{{site.baseurl}}/img/rancheros-logo-nopadding.png" width="200px" /></a>
    </div>

    <div class="col span-4 offset-3">
    <!--Start Google Search-->
    <script>
      (function() {
        var cx = '007896692384436596364:60akf3bfmxm';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    <!--End Google Search-->
    </div>

  </nav>
</header>
