<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link href="{{site.baseurl}}/favicon.png" rel="shortcut icon" type="image/png" sizes="16x16">
    <link href="{{site.baseurl}}/one-point-x/css/syntax.css?t={{site.time}}" rel="stylesheet">
    <link href="{{site.baseurl}}/one-point-x/vendor/font-awesome/css/font-awesome.min.css?t={{site.time}}" rel="stylesheet">
    <link href="{{site.baseurl}}/one-point-x/vendor/lato/lato.css?t={{site.time}}" rel="stylesheet">
    <link href="{{site.baseurl}}/one-point-x/css/lacsso.css?t={{site.time}}" rel="stylesheet">
    <link href="{{site.baseurl}}/one-point-x/css/slicknav.css?t={{site.time}}" rel="stylesheet">
    <link href="{{site.baseurl}}/one-point-x/css/rancher-docs.css?t={{site.time}}" rel="stylesheet">
</head>

<body class="bg-default">
  <div class="row body">
    <header class="page-header">
      <div class="wrap clearfix">
        <nav role="navigation" id="js-responsive-nav" class="clearfix responsive-nav"><a class="nav-toggle"></a>
          <a class="nav-logo logo-caas btn bg-transparent"><img src="{{site.baseurl}}/one-point-x/img/rancher-logo-nopadding.svg" class="img-responsive" alt="Rancher" data-pin-nopin="true"></a>
          <ul class="nav-main nav-list">
            <li><a href="https://rancher.com/">Back to Rancher.com</a></li>

            <ul class="nav navbar-nav pull-right">
              <li><a href="https://github.com/rancher/rancher#installation" id="rnchrdm-nav-download" title="Download Rancher" target="_blank"><img src="{{site.baseurl}}/one-point-x/img/header-download.svg" alt="Download Rancher" height="12" width="14"> Download Rancher</a></li>
              <li><a href="https://rancher.com/support" id="rnchrdm-nav-reqsupport" title="Request Support"><i class="fa fa-question-circle" aria-hidden="true"></i>
 Request Support</a></li>
            </ul>
          </ul>
      </nav>
    </div>
    <h1>Rancher 1.6 Docs</h1>
  </header>
  <div class="clearfix"></div>
  <div class="wrap clearfix">
        <div class="col span-3 mt-0 mr-0 sidebar">
        <!--Start Google Search-->
              <div class="gcse-search" id="google-search"></div>
              <script>
              var match = window.location.pathname.match(/\/rancher\/([^\/]+)/);
              if (match) {
                  document.getElementById('google-search').setAttribute('data-defaultToRefinement', match[1]);
              }

              (function() {
                  var cx = '007896692384436596364:60akf3bfmxm';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
              })();
              </script>
              <!--End Google Search-->
