<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<link href="/favicon.png" rel="shortcut icon" type="image/png" sizes="16x16">
<link href="{{site.baseurl}}/css/syntax.css?t={{site.time}}" rel="stylesheet">
<link href="{{site.baseurl}}/vendor/font-awesome/css/font-awesome.min.css?t={{site.time}}" rel="stylesheet">
<link href="{{site.baseurl}}/vendor/lato/lato.css?t={{site.time}}" rel="stylesheet">
<link href="{{site.baseurl}}/css/lacsso.css?t={{site.time}}" rel="stylesheet">
<link href="{{site.baseurl}}/css/slicknav.css?t={{site.time}}" rel="stylesheet">
<link href="{{site.baseurl}}/css/rancher-docs.css?t={{site.time}}" rel="stylesheet">
