<ul id="menu">
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/" >Rancher Documentation</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/">How to use the API v1</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/access-control/">Setting up Access Control using the API</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-keys/">What are API keys</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/">API Resources</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/common/">Common Resource Fields</a></li>
    
    <li>
        <a href="#">Account <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/account/">Account</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/account/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/account/#update">Update</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/account/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/account/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/account/#deactivate">Deactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">Agent <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/agent/">Agent</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/agent/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/agent/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/agent/#disconnect">Disconnect</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/agent/#reconnect">Reconnect</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">ApiKey <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/">ApiKey</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#update">Update</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#deactivate">Deactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">AuditLog <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/auditLog/">AuditLog</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Azureadconfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/azureadconfig/">Azureadconfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/azureadconfig/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/azureadconfig/#update">Update</a></li>
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Certificate <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/certificate/">Certificate</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">ConfigItem <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/configItem/">ConfigItem</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">ConfigItemStatus <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/configItemStatus/">ConfigItemStatus</a></li>
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/configItemStatus/#update">Update</a></li>
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Container <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/">Container</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#console">Console</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#execute">Execute</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#logs">Logs</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#proxy">Proxy</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#restart">Restart</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#start">Start</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#stop">Stop</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">Databasechangelog <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/databasechangelog/">Databasechangelog</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/databasechangelog/#delete">Delete</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">Databasechangeloglock <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/databasechangeloglock/">Databasechangeloglock</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/databasechangeloglock/#delete">Delete</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">DnsService <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/">DnsService</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#removeservicelink">Removeservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#rollback">Rollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#setservicelinks">Setservicelinks</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#upgrade">Upgrade</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">Environment <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/">Environment</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#activateservices">Activateservices</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#cancelrollback">Cancelrollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#cancelupgrade">Cancelupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#deactivateservices">Deactivateservices</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#exportconfig">Exportconfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#finishupgrade">Finishupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#rollback">Rollback</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">ExtensionPoint <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/extensionPoint/">ExtensionPoint</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">ExternalHandler <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandler/">ExternalHandler</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandler/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandler/#update">Update</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandler/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandler/#deactivate">Deactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">ExternalHandlerExternalHandlerProcessMap <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandlerExternalHandlerProcessMap/">ExternalHandlerExternalHandlerProcessMap</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandlerExternalHandlerProcessMap/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandlerExternalHandlerProcessMap/#deactivate">Deactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">ExternalHandlerProcess <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandlerProcess/">ExternalHandlerProcess</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandlerProcess/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalHandlerProcess/#deactivate">Deactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">ExternalService <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/">ExternalService</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#cancelrollback">Cancelrollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#cancelupgrade">Cancelupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#finishupgrade">Finishupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#rollback">Rollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#upgrade">Upgrade</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">Githubconfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/githubconfig/">Githubconfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/githubconfig/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/githubconfig/#update">Update</a></li>
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">HaConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/haConfig/">HaConfig</a></li>
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/haConfig/#update">Update</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/haConfig/#createscript">Createscript</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">HaConfigInput <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/haConfigInput/">HaConfigInput</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/haConfigInput/#create">Create</a></li>
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Host <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/">Host</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/#dockersocket">Dockersocket</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">HostApiProxyToken <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/hostApiProxyToken/">HostApiProxyToken</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Identity <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/identity/">Identity</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Ldapconfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/ldapconfig/">Ldapconfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/ldapconfig/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/ldapconfig/#update">Update</a></li>
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">LoadBalancerService <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/">LoadBalancerService</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#addservicelink">Addservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#cancelrollback">Cancelrollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#cancelupgrade">Cancelupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#finishupgrade">Finishupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#removeservicelink">Removeservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#rollback">Rollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#setservicelinks">Setservicelinks</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#upgrade">Upgrade</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">LocalAuthConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/localAuthConfig/">LocalAuthConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/localAuthConfig/#create">Create</a></li>
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Machine <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machine/">Machine</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">MachineDriver <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machineDriver/">MachineDriver</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machineDriver/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machineDriver/#update">Update</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machineDriver/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machineDriver/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machineDriver/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machineDriver/#reactivate">Reactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">Network <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/network/">Network</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Openldapconfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/openldapconfig/">Openldapconfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/openldapconfig/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/openldapconfig/#update">Update</a></li>
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">ProcessDefinition <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/processDefinition/">ProcessDefinition</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">ProcessExecution <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/processExecution/">ProcessExecution</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">ProcessInstance <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/processInstance/">ProcessInstance</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Project <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/">Project</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/#update">Update</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/#setmembers">Setmembers</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">ProjectMember <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/projectMember/">ProjectMember</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/projectMember/#create">Create</a></li>
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/projectMember/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/projectMember/#deactivate">Deactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">PullTask <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/pullTask/">PullTask</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">RegistrationToken <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registrationToken/">RegistrationToken</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Registry <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registry/">Registry</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registry/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registry/#deactivate">Deactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">RegistryCredential <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registryCredential/">RegistryCredential</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registryCredential/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registryCredential/#deactivate">Deactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">ResourceDefinition <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/resourceDefinition/">ResourceDefinition</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">Service <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/">Service</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#addservicelink">Addservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#cancelrollback">Cancelrollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#cancelupgrade">Cancelupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#finishupgrade">Finishupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#removeservicelink">Removeservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#restart">Restart</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#rollback">Rollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#setservicelinks">Setservicelinks</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#upgrade">Upgrade</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">Setting <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/setting/">Setting</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/setting/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/setting/#update">Update</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/setting/#delete">Delete</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">Task <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/task/">Task</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/task/#execute">Execute</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">TaskInstance <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/taskInstance/">TaskInstance</a></li>
              
              
              
              
        </ul>
    </li>
    
    <li>
        <a href="#">UserPreference <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/userPreference/">UserPreference</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/userPreference/#create">Create</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/userPreference/#update">Update</a></li>
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/userPreference/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/userPreference/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/userPreference/#deactivate">Deactivate</a></li>
              
        </ul>
    </li>
    
    <li>
        <a href="#">Volume <i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/volume/">Volume</a></li>
              
              
              
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/volume/#restorefrombackup">Restorefrombackup</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/volume/#reverttosnapshot">Reverttosnapshot</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/volume/#snapshot">Snapshot</a></li>
              
        </ul>
    </li>
    
</ul>
