<ul id="menu">
    <li><a href="#">Quick Start Guide</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#prepare-host">Preparing a Linux Host</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#launch-rancher">Launching Rancher Server</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#creating-cloud-clusters">Creating Cloud Clusters</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#creating-rke-clusters">Creating RKE Clusters</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#importing-kubernetes-clusters">Importing Existing Kubernetes Clusters</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#adding-pods">Adding Pods</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#using-kubeconfig-file">Using Kubeconfig File</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/faq/">FAQ</a></li>
</ul>
