<ul id="menu">
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/" >Rancher Documentation</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/">How to use the API v1</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-keys/">What are API keys</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/">API Resources</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/common/">Common Resource Fields</a></li>

    <li>
        <a href="#account">Account <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="account">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/account/">Account</a></li>



              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/account/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/account/#deactivate">Deactivate</a></li>

        </ul>
    </li>

    <li>
        <a href="#addOutputsInput">AddOutputsInput <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="addOutputsInput">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/addOutputsInput/">AddOutputsInput</a></li>




        </ul>
    </li>

    <li>
        <a href="#amazonec2Config">Amazonec2Config <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="amazonec2Config">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/amazonec2Config/">Amazonec2Config</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/amazonec2Config/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#apiKey">ApiKey <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="apiKey">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/">ApiKey</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/apiKey/#deactivate">Deactivate</a></li>

        </ul>
    </li>

    <li>
        <a href="#auditLog">AuditLog <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="auditLog">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/auditLog/">AuditLog</a></li>




        </ul>
    </li>

    <li>
        <a href="#azureConfig">AzureConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="azureConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/azureConfig/">AzureConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/azureConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#certificate">Certificate <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="certificate">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/certificate/">Certificate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/certificate/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/certificate/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/certificate/#delete">Delete</a></li>

        </ul>
    </li>

    <li>
        <a href="#container">Container <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="container">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/">Container</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#console">Console</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#execute">Execute</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#logs">Logs</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#proxy">Proxy</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#restart">Restart</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#start">Start</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/container/#stop">Stop</a></li>

        </ul>
    </li>

    <li>
        <a href="#containerExec">ContainerExec <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="containerExec">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/containerExec/">ContainerExec</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/containerExec/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#digitaloceanConfig">DigitaloceanConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="digitaloceanConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/digitaloceanConfig/">DigitaloceanConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/digitaloceanConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#dnsService">DnsService <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="dnsService">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/">DnsService</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#removeservicelink">Removeservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#rollback">Rollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#setservicelinks">Setservicelinks</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dnsService/#upgrade">Upgrade</a></li>

        </ul>
    </li>

    <li>
        <a href="#dockerBuild">DockerBuild <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="dockerBuild">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dockerBuild/">DockerBuild</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/dockerBuild/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#environment">Environment <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="environment">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/">Environment</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#activateservices">Activateservices</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#cancelrollback">Cancelrollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#cancelupgrade">Cancelupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#deactivateservices">Deactivateservices</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#exportconfig">Exportconfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#finishupgrade">Finishupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environment/#rollback">Rollback</a></li>

        </ul>
    </li>

    <li>
        <a href="#environmentUpgrade">EnvironmentUpgrade <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="environmentUpgrade">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environmentUpgrade/">EnvironmentUpgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/environmentUpgrade/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#exoscaleConfig">ExoscaleConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="exoscaleConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/exoscaleConfig/">ExoscaleConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/exoscaleConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#externalService">ExternalService <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="externalService">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/">ExternalService</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#cancelrollback">Cancelrollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#cancelupgrade">Cancelupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#finishupgrade">Finishupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#rollback">Rollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/externalService/#upgrade">Upgrade</a></li>

        </ul>
    </li>

    <li>
        <a href="#genericConfig">GenericConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="genericConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/genericConfig/">GenericConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/genericConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#googleConfig">GoogleConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="googleConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/googleConfig/">GoogleConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/googleConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#host">Host <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="host">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/">Host</a></li>


              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/host/#dockersocket">Dockersocket</a></li>

        </ul>
    </li>

    <li>
        <a href="#hostAccess">HostAccess <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="hostAccess">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/hostAccess/">HostAccess</a></li>




        </ul>
    </li>

    <li>
        <a href="#hypervConfig">HypervConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="hypervConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/hypervConfig/">HypervConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/hypervConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#identity">Identity <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="identity">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/identity/">Identity</a></li>




        </ul>
    </li>

    <li>
        <a href="#loadBalancerConfig">LoadBalancerConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="loadBalancerConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerConfig/">LoadBalancerConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerConfig/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerConfig/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerConfig/#delete">Delete</a></li>

        </ul>
    </li>

    <li>
        <a href="#loadBalancerService">LoadBalancerService <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="loadBalancerService">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/">LoadBalancerService</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#addservicelink">Addservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#cancelrollback">Cancelrollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#cancelupgrade">Cancelupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#finishupgrade">Finishupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#removeservicelink">Removeservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#rollback">Rollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#setservicelinks">Setservicelinks</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/loadBalancerService/#upgrade">Upgrade</a></li>

        </ul>
    </li>

    <li>
        <a href="#machine">Machine <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="machine">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machine/">Machine</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machine/#create">Create</a></li>


              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/machine/#delete">Delete</a></li>

        </ul>
    </li>

    <li>
        <a href="#network">Network <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="network">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/network/">Network</a></li>




        </ul>
    </li>

    <li>
        <a href="#openstackConfig">OpenstackConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="openstackConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/openstackConfig/">OpenstackConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/openstackConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#packetConfig">PacketConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="packetConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/packetConfig/">PacketConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/packetConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#project">Project <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="project">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/">Project</a></li>



              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/project/#setmembers">Setmembers</a></li>

        </ul>
    </li>

    <li>
        <a href="#projectMember">ProjectMember <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="projectMember">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/projectMember/">ProjectMember</a></li>



              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/projectMember/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/projectMember/#deactivate">Deactivate</a></li>

        </ul>
    </li>

    <li>
        <a href="#pullTask">PullTask <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="pullTask">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/pullTask/">PullTask</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/pullTask/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#rackspaceConfig">RackspaceConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="rackspaceConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/rackspaceConfig/">RackspaceConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/rackspaceConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#registrationToken">RegistrationToken <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="registrationToken">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registrationToken/">RegistrationToken</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registrationToken/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#registry">Registry <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="registry">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registry/">Registry</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registry/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registry/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registry/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registry/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registry/#deactivate">Deactivate</a></li>

        </ul>
    </li>

    <li>
        <a href="#registryCredential">RegistryCredential <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="registryCredential">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registryCredential/">RegistryCredential</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registryCredential/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registryCredential/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registryCredential/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registryCredential/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/registryCredential/#deactivate">Deactivate</a></li>

        </ul>
    </li>

    <li>
        <a href="#service">Service <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="service">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/">Service</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#create">Create</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#update">Update</a></li>

              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#delete">Delete</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#activate">Activate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#addservicelink">Addservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#cancelrollback">Cancelrollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#cancelupgrade">Cancelupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#deactivate">Deactivate</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#finishupgrade">Finishupgrade</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#removeservicelink">Removeservicelink</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#restart">Restart</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#rollback">Rollback</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/service/#setservicelinks">Setservicelinks</a></li>

        </ul>
    </li>

    <li>
        <a href="#setting">Setting <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="setting">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/setting/">Setting</a></li>




        </ul>
    </li>

    <li>
        <a href="#softlayerConfig">SoftlayerConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="softlayerConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/softlayerConfig/">SoftlayerConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/softlayerConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#statsAccess">StatsAccess <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="statsAccess">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/statsAccess/">StatsAccess</a></li>




        </ul>
    </li>

    <li>
        <a href="#subscribe">Subscribe <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="subscribe">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/subscribe/">Subscribe</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/subscribe/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#ubiquityConfig">UbiquityConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="ubiquityConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/ubiquityConfig/">UbiquityConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/ubiquityConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#virtualboxConfig">VirtualboxConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="virtualboxConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/virtualboxConfig/">VirtualboxConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/virtualboxConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#vmwarefusionConfig">VmwarefusionConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="vmwarefusionConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/vmwarefusionConfig/">VmwarefusionConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/vmwarefusionConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#vmwarevcloudairConfig">VmwarevcloudairConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="vmwarevcloudairConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/vmwarevcloudairConfig/">VmwarevcloudairConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/vmwarevcloudairConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#vmwarevsphereConfig">VmwarevsphereConfig <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="vmwarevsphereConfig">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/vmwarevsphereConfig/">VmwarevsphereConfig</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/vmwarevsphereConfig/#create">Create</a></li>



        </ul>
    </li>

    <li>
        <a href="#volume">Volume <i class="pull-right fa fa-angle-down"></i></a>
        <ul id="volume">
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/volume/">Volume</a></li>
              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/volume/#create">Create</a></li>


              <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/api/{{page.apiVersion}}/api-resources/volume/#delete">Delete</a></li>

        </ul>
    </li>

</ul>
