<ul id="menu">
    <li><a href="#">Quick Start Guide<i class="pull-right fa fa-angle-down"></i></a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#prepare-host/">Preparing a Linux Host</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#launch-rancher/">Launching Rancher Server</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#addhost/">Adding Hosts<i class="pull-right fa fa-angle-down"></i></a></li>
        <ul>
            <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#cloudprovided/">Adding Hosts from Cloud Providers</a></li>
            <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#custom/">Adding Custom Hosts</a></li>
        </ul>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#import-k8s/">Importing Existing Kubernetes Clusters</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#containers/">Adding Containers</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#catalog/">Launching Catalog Applications</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#advanced-k8s/">Using Advanced Kubernetes Options</a></li>
</ul>
