<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<link rel="shortcut icon" type="image/png" href="/favicon.png" sizes="16x16">
<!-- <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
 --><link href="{{site.baseurl}}/css/syntax.css" rel="stylesheet">
<!-- <link href="{{site.baseurl}}/css/rancher.css" rel="stylesheet">
 --><link rel="stylesheet" href="{{site.baseurl}}/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/vendor/lato/lato.css">
<link href="{{site.baseurl}}/css/lacsso.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/slicknav.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/rancher-docs.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/rancher-docs.css" rel="stylesheet">