<ul id="menu">
    <li><a href="#">Quick Start Guide</a></li>
	<li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#objectives">Objectives</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#prepare-a-linux-host">Prepare a Linux Host</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#install-rancher">Install Rancher</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#log-in">Log In</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#create-a-cluster">Create a Cluster</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#deploy-a-workload">Deploy a Workload</a></li>
	<li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#view-your-application">View Your Application</a></li>
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#whats-next">What's Next?</a></li>
	<li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/quick-start-guide/#appendix-a-add-custom-cluster">Appendix A</a></li>
	<li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/faq/">FAQ</a></li>

</ul>
